html
{
    background-color: oldlace;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

header img
{
    display: inline;
    position: relative;
    left: 1rem;
    top: 1rem;
}

header h1
{
display: inline;
position: relative;
left: 2rem;
bottom: 0.8rem;
font-size: 2rem;
}

header nav
{
    display: inline;
    position: relative;
    top: 3rem;
    right: 70.5rem;
    font-size: 1.5rem;
    border: 0.2rem powderblue solid;
}


header nav a
{
    text-decoration: none;
    color: black;
}

header .inicio
{
    margin-right: 1rem;
}

header .twitch
{
    margin-right: 1rem;
}

/*Header*/

main
{
    font-size: 1.5rem;
    position: relative;
    top: 3rem;
}

article h2
{
    font-size: 2rem;
}

article p a
{
    color: black;
}

section article .bloque
{
    display: block;
    margin-bottom: 2.2rem;
    position: relative;
    left: 3rem;
    bottom: 19rem;
    text-decoration: none;
    color: black;
}

section article .bloquedos
{
    display: block;
    margin-bottom: 1.5rem;
}

/*Main*/

footer
{
    position: relative;
    top: -7rem;
    font-size: 1.5rem;
}

.bloquefooter
{
    position: relative;
    top: 3rem;
}